extends index

block body-content
  // Header
  header#header
    img(src='/static/img/wilko-logo.png')
    div.container
        h1 !{mainText}
        p.green #{orderMessage}
        p.amber #{orderMessageAmber}
        p.amber #{defaultText}
        // Footer
    footer#footer
        p
        small &copy; 
            a(href='https://wilko.com', target='_blank') wilko.com
    // Scripts
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous")
    